{% extends "cart/base.html" %}
{% load thumbnail %}

{% block title %}{{ item.title }} - {{ block.super }}{% endblock %}

{% block content %}

<div class="cart-detail">

  <h1>Delete Cart Item</h1>
  <p>Are you sure you wish to delete this item from your cart?</p>

  <form action="{{ request.path }}" method="post">{% csrf_token %}
    <ul class="item">
      <li class="item-desc">
        {{ item.content_object}}<br>
        {{ item }}
      </li>
    </ul>
    <div class="order-buttons">
      <a href="{% url "cart:cart_detail" %}" class="back">Go back</a>
       &nbsp;
      <input type="submit" value="Confirm" class="button danger" />
    </div>
  </form>

</div>

{% endblock %}
